
@media (max-width: 767px) {

/*---------------------------------------------------- 二级页面banner -----------------------------------------------------*/

.subBan_section{
  /*height: 355px;*/
  height: 3.75rem;
  margin: 1.1rem 0 0 0;
  background: url(bg_area.jpg) repeat 0 18px;
}


.subBan{
  width: 100%;
  height: 3.75rem;
  background: url(m_sub_banner.png) no-repeat center top;
  background-size: 100% 100%;
  padding: 0 0 .13rem 0;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 1.1rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.subshamo{
  width: 100%;
  height: 1.1rem;
  background: url(m_sub_shamo.png) no-repeat center top;
  background-size: 100% 100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 3.45rem;
  /*z-index: 100;*/
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;  
}


.subBan_con{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3.62rem 0 0 .18rem;
  position: relative;
}


.subBan_title{
  width: auto;
  width: 2.6rem;
  height: 8rem;
  position: absolute;
  right: .95rem;
  top: .96rem;
}



.subBan_img{position: absolute;}
.subBan_img_jj{
  width: 2.6rem;
  height: 3.27rem;
  position: absolute;
  left: .3rem;
  top: .2rem;
}


.subBan_img_cy{
  width: 3rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: .1rem;
}

.subBan_img_we{
  width: 2.6rem;
  height: 2.94rem;
  position: absolute;
  left: .5rem;
  top: .3rem;
}

.subBan_img_zc{
  width: 3.6rem;
  height: 1.99rem;
  position: absolute;
  left: .1rem;
  top: 1.1rem;
}

.subBan_img_jg{
  width: 2.2rem;
  height: 3.12rem;
  position: absolute;
  left: .5rem;
  top: .2rem;
}

.subBan_img_news{
  width: 3.2rem;
  height: 3.25rem;
  position: absolute;
  left: .1rem;
  top: .2rem;
}

.subBan_img_download{
  width: 2.8rem;
  height: 3.36rem;
  position: absolute;
  left: .1rem;
  top: .1rem;
}


.subBan_img_search{
  width: 2.8rem;
  height: 3.36rem;
  position: absolute;
  left: .1rem;
  top: .1rem;
}

.subBan_img_join{
  width: 3rem;
  height: 3.21rem;
  position: absolute;
  left: .5rem;
  top: .2rem;
}


/*---------------------------------------------------- 二级页面-联盟简介 -----------------------------------------------------*/

.title{
  width: 4.8rem;
  height: .88rem;
  margin: 0 auto;
}

.title_subJj_1{
  background: url(title_subJj_1.png) no-repeat;
  background-size: 100% 100%;
}


.title_subJj_2{
  width: 5.28rem;
  background: url(title_subJj_2.png) no-repeat;
  background-size: 100% 100%;
}

.title_subJj_3{
  background: url(title_subJj_3.png) no-repeat;
  background-size: 100% 100%;
}

.title.title_subZc_1{
/*  width: 8.42rem;
  height: .88rem;*/
  width: 6.7rem;
  height: .7rem;  
  margin: 0 auto;
  background: url(title_subZc_1.png) no-repeat;
  background-size: 100% 100%;  
}


.bg_sub{
  width: 100%;
  height: auto;
  background: url(bg_area.jpg) repeat;
  padding: .6rem 0;  
}

.subWrp{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 .35rem;
}


/**/
.subJj{}

.subJj .subWrp{
  width: 100%;
}

.subJj_area1{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.subJj_area1 article{
  width: 100%;
  height: auto;
  margin: .3rem auto;
}

.subJj_area1 p{
  text-indent: 2em;
  font-size: .28rem;
  color: #373737;
  line-height: 2;
  padding: 0 0 .08rem 0;
}

.subJj_area1 p img{
	display: block;
}

.subJj_area2{
  width: calc(100% + .7rem);
  background: #f9f1dc;
  padding: .6rem .35rem .1rem;
  margin: 0 0 0 -.35rem;
}

.subJj_bz_wrp{
  /*width: 1000px;*/
  height: auto;
  margin: .3rem auto;
  width: 100%;
}

.subJj_bz{}
.subJj_bz dl{
  display: block;
  height: auto;
  width: 3.2rem;
  height: auto;
  background:url(subJj_bgld.jpg) no-repeat center bottom;
  background-size:100% auto;	
  margin: 0 0 .3rem 0;
  box-shadow: 2px 2px 10px rgba(3,0,0,0.1);
}

.subJj_bz dl dt{
  width: 3.2rem;
}

.subJj_bz dl dt img{ 
  display: block;
  width: 100%;
}


.subJj_bz dl dd{
  width: 100%;
  background:none;
  height: auto;
  color: #373737;
  padding: .15rem 0 .15rem .1rem;
}


.subJj_bz dl dd hgroup{
  display: flex;
  height: auto;
  flex-wrap:wrap;	
}


.subJj_bz dl dd h4{
  width:100%;	 
  height:auto;
  line-height: normal;
  border-bottom: none;
  font-size: .3rem;
  font-weight: bold;
  position: relative;
  margin: 0 .2rem 0 0;
}

.subJj_bz dl dd h4:after{
  content: '';
  display: none;
}


.subJj_bz dl dd h5{
  width:100%;
  font-size: .25rem;
  line-height: .45rem;
  padding: 0;
}


.subJj_bz dl dd span{
  display: block;
  font-size: .25rem;
  line-height: .4rem;
}


.subJj_area3{}
.subJj_area3 .title{
  margin: .6rem auto 0;
}

.subJj_sz{
  width: 6.71rem;
  height: 9.38rem;
  margin: .2rem auto;
  background: url(m_subJj_sz_img.png) no-repeat;
  background-size: 100% 100%;
}






/*---------------------------------------------------- 二级页面-联盟章程 -----------------------------------------------------*/

.subZc{
  padding: .6rem 0;
}

.subZc .subWrp{}

.subZc_line{
  width: 100%;
  height: .14rem;
  background: url(subZc_line.png) repeat-x;
  background-size: 100% 100%;
  margin: .6rem 0 0 0;
}

.subZc_con{
  width: 100%;
  height: auto;
  padding: .3rem 0 0 0;
}

.subZc_con article{
  width: 100%;
  height: auto;
  font-size: .28rem;
  line-height: 1.8;
  color: #2b2b2b;
  margin: 0 0 .38rem 0;
}

.subZc_con article h4{
  font-size: .32rem;
  font-weight: bold;
  height: .5rem;
}

.subZc_con article p{}

.subZc_con article p.indent_list{
  text-indent: 3em;
}


/*---------------------------------------------------- 二级页面-组织机构 -----------------------------------------------------*/

.subJg{
}

.jgImg{
  width: 7.15rem;
  height: 15.65rem;
  margin: .2rem auto;
  background: url(m_jg_img.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 0 0 -.35rem;
}




/*---------------------------------------------------- 二级页面-成员名单 -----------------------------------------------------*/

.subCy{}
.subCy .subWrp{
  width: 100%;
}

.cyNav{
  margin: 0 0 .45rem 0;
}

.cyNav dt{
  width: 100%;
  height: .61rem;
  line-height: .61rem;
  background: #dcd8cc;
}

.cyNav dt a{
   width: 2rem;
   height: .61rem;
   font-size: .3rem;
   text-align: center;
}

.cyNav a.cyNav_on{
  background: #843937;
  color: #fff;
}

.cyNav dd{
  width: 100%;
  height: auto;
  min-height: .6rem;
  font-size: .24rem;
  line-height: 1.6;
  border: 1px solid #ddd5c4;
  border-top: none;
  padding: .08rem 0 .08rem .39rem;
  position: relative;
}

.cyNav dd:before{
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #843937;
  border-radius: 2px;
  position: absolute;
  left: .2rem;
  top: .27rem;
}

.subCy_con{
  display: none;
}

p.sc_prompt{
  font-size: .3rem;
  color: #373737;
  margin: 0;
  padding: 0 0 0 .16rem;  
}

.cyWrp{}

.cyWrp>h3{
  height: .56rem;
  font-size: .3rem;
  color: #230e0e;
  font-weight: bold;
  margin: 0 0 .3rem 0;
  padding: 0 0 0 .16rem;
  border-bottom: 1px solid #cec7b0;
  position: relative;
}

.cyWrp>h3:after{
  content: '';
  display: block;
  width: 1.5rem;
  height: 1px;
  background: #843937;
  position: absolute;
  left: 0;
  bottom: -1px;
}


.cyWrp>h3 i{
  width: 4px;
  height: 4px;
  background: #8e3334;
  border-radius: 2px;
  margin: 0 7px 0 3px;
}

.cyListWrp{
  width: 100%;
  height: auto;
  margin-bottom: .5rem;
  -webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;  
}


.cyListWrp dl.cyList{
  width: 3.25rem;
  height: 2.08rem;
  background: #fff;
  /*border: 1px solid #8e3334;*/
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin: 0 0 .5rem 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;    
}

.cyListWrp dl.cyList:hover{
  box-shadow: none;
}

.cyList dt{
  width: 3.25rem;
  height: 2.08rem;
}

.cyList dt figure{
  width: 3.25rem;
  height: 1.3rem;
  border: 1px solid #cec7b0;
  box-sizing: border-box;
}


.cyList dt figcaption{
  width: 3.25rem;
  height: .78rem;
  background: #fbf9f4;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  border-top: none;
  text-align: center;
  font-size: .24rem;
  box-sizing: border-box;
}

.cyList dd{
	display: none;
}




/*---------------------------------------------------- 二级页面-联盟资讯 -----------------------------------------------------*/

.subNews{}

.subNews_nav{
  width: 100%;
  height: .61rem;
  line-height: .61rem;
  margin: 0 0 .38rem 0;
  background: #dcd8cc;
}

.subNews_nav a{
  width: 50%;
  height: .61rem;  
  color: #8e3334;
  font-size: .3rem;
  line-height: .61rem;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
}

.subNews_nav a.subN_navOn{
  background: #8e3334;
  color: #fff;
}


.subNews_conWrp{}

.subNews_con{
  width: 100%;
  height: auto;
  /*display: none;*/
}

.subNews_con .subNews_list{
  width: 100%;
  height: auto;
  min-height: 2.4rem;
  padding: .16rem;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ddd5c4;
  margin: 0 0 .19rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: relative;
}

.subNews_con .subNews_list:after{
  content: '';
  display: none;
}

.subNews_con .subNews_list:hover{
  box-shadow: none;
}

.subNews_con .subNews_list dt{
  width: 3rem;
  height: 2.03rem;
}

.subNews_con .subNews_list dd.subNews_con_dd{
  /*width: 100%;*/
  width: calc(100% - 3rem);
  padding: .2rem 0 0 0;
}

.subNews_con_dd h4{
  padding: 0 0 .05rem;
  min-height: 1rem;
  height: 1rem;
  overflow: hidden;
  font-size: .3rem;
  font-weight: normal;
  color: #1a1a1a;
  line-height: 0.4rem;
}

.subNews_con_dd time{
  display: block;
  font-size: .24rem;
  color: #444;
  margin: 0 0 .05rem 0;
}

.subNews_con_dd p{
  display: none;
}

.subNews_con_dd label{
  display: block;
  width: .92rem;
  height: .36rem;
  line-height: .32rem;
  border: 1px solid #843937;
  border-radius: .05rem;
  color: #843937;
  text-align: center;
  font-size: .24rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.subNews_con .subNews_list:hover .subNews_con_dd label{
  background: none;
  color: #843937;
}

.subNews_con .subNews_list:hover h4{
  color: #1a1a1a;
}

.subNews_con .subNews_list.subNews_list2{}
.subNews_con .subNews_list.subNews_list2 dt{
  width: 0px;
  display: none;
}

.subNews_con .subNews_list.subNews_list2 dd.subNews_con_dd{
  width: 100%;
}


/*----------------------------------------------------  翻页 -----------------------------------------------------*/

.fanye{
  width: 100%;
  height: .5rem;
  margin: .2rem auto;
  /*display: none;*/
  -webkit-box-pack:start;-webkit-justify-content:start;-ms-flex-pack:start;justify-content:start;
}

.fanye a{
  width: auto;
  min-width: .5rem;
  height: .5rem;
  background: #fff;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  font-size: .24rem;
  color: #666;
  text-align: center;
  line-height: .46rem;
  margin: 0 .05rem;
  padding: 0 .1rem;
  box-sizing: border-box;
}

.fanye a:hover{
  color: #666;
  border: 1px solid #c0c0c0;
}


.fanye span{
  width: .5rem;
  height: .5rem;
  background: #fff;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  font-size: .24rem;
  color: #666;
  text-align: center;
  line-height: .46rem;
  margin: 0 .05rem;
  box-sizing: border-box;
}


.fanye a.aFy_on{
  width: .5rem;
  height: .5rem;
  background: #8e3334;
  border: 1px solid #8e3334;
  color: #fff;
}

.fanye a.aFy_next{
/*  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;*/
}

.icon_next{
  width: 8px;
  height: 8px;
  border-right: 3px solid #c0c0c0;
  border-top: 3px solid #c0c0c0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: -5px;
}

.fanye a.aFy_next:hover .icon_next{
/*  border-right: 3px solid #8e3334;
  border-top: 3px solid #8e3334;*/
}



/*---------------------------------------------------- 二级页面-联系我们 -----------------------------------------------------*/

.subWe{}
.subWe .subWrp{
  height: auto;
  /*min-height: 4.5rem;*/
  background: transparent;
  border: none;
}

.subweWrp{
  display: block;
  width: 100%;
  height: auto;
  padding: .1rem;
  position: relative;
  background: #fff;
  border: 1px solid #cec7b0;
}

.subweWrp:after{
  content: '';
  display: block;
  width: 90%;
  height: .2rem;
  background: rgba(0,0,0,0.1);
  position: absolute;
  left: 5%;
  bottom: -.23rem;
}

.subwe_map{
  height: auto;
}

.subwe_info{
  width: 100%;
  height: auto;
  padding: .6rem 0 0 0;
  margin: 0;
}

.subwe_info ul{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.subwe_info ul li{
  width: 100%;
  color: #1a1a1a;
  font-size: .3rem;
  line-height: .28rem;
  padding: 0 .3rem .35rem;
}


.subwe_info ul li i{
  margin-right: 5px;
}

.icon_we_loadction{
  width: 24px;
  height: 24px;
  background: url(icon_we_loadction.png) no-repeat;
  background-size: 100% 100%;
}

.icon_we_phone{
  width: 24px;
  height: 24px;
  background: url(icon_we_phone.png) no-repeat;
  background-size: 100% 100%;
}

.icon_we_mail{
  width: 24px;
  height: 24px;
  background: url(icon_we_mail.png) no-repeat;
  background-size: 100% 100%;
}

.subwe_info ul li span{
	width: calc(100% - 30px);
	height: auto;
	margin: 0 0 0 .2rem;
}


.subwe_info ul li .iwl_span{
  line-height: 23px;  
}


/*---------------------------------------------------- 二级页面-资料下载 -----------------------------------------------------*/

.subDownload{}
.subDownload .subWrp{
  height: auto;
}

.subDl_nav{
  width: 100%;
  height: .61rem;
  line-height: .61rem;
  background: #dcd8cc;
}

.subDl_nav a{
  width: auto;
  height: .61rem;  
  color: #373737;
  font-size: .28rem;
  line-height: .61rem;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  position: relative;
  cursor: text;
  text-indent: .42rem;
}

.subDl_nav a:before{
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #843937;
  border-radius: 2px;
  position: absolute;
  left: .22rem;
  top: .28rem;
}

.subDl_nav a.subN_navOn{
  width: 2rem;
  background: #8e3334;
  color: #fff;
  font-size: .3rem;
  text-indent: 0;
}

.subDl_nav a.subN_navOn:before{
  display: none;
}

.download_con{
  width: 100%;
  height: auto;
  margin: 0 0 .5rem 0;
}

.download_con ul{}

.download_con ul li{
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #dcd8cc;
  padding: 0 .1rem 0 .4rem;
}


.download_con ul li .a_dc_1{
  font-size: .3rem;
  color: #373737;
  width: auto;
  height: 100%;
  position: relative;
}

.download_con ul li .a_dc_1:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #843937;
    border-radius: 2px;
    position: absolute;
    left: -.2rem;
    top: .5rem;
}

.download_con ul li .a_dc_1:hover{
  color: #843937;
}


.download_con ul li a.a_dc_2{
  width: 1.6rem;
  height: .7rem;
  line-height: .68rem;
  border-radius: 21px;
  border: 1px solid #dcd8cc;
  padding: 0 0 0 .16rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;
}


.download_con ul li a.a_dc_2 i{
  width: .5rem;
  height: .36rem;
  background: url(icon_download.png) no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 .08rem 0 0;
}


/*---------------------------------------------------- 资讯详情 -----------------------------------------------------*/

.newsDetail{}

.newsD_top{
  width: 100%;
  height: auto;
  min-height: 2.8rem;
  background: #e5ddcc;
  margin: 1.1rem 0 0 0;
  color: #843937;
}

.newsDt_wrp{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: .75rem .35rem .3rem;
}

.newsDt_wrp time{
  font-size: .24rem;
}

.newsDt_wrp h1{
  font-size: .4rem;
  height: auto;
}

.newsDetail .subNewsDetail{
  padding: 0 0 .6rem;
}

.newsD_article{
  /*width: 100%;*/
  height: auto;
  background: transparent;
  padding: .3rem 0 0;
  font-size: .28rem;
  box-shadow: none;
}

.newsD_article article{}

.newsD_article article p{
  padding: 0 0 .1rem 0;
}

.newsD_article article p img{
  text-align: center;
}

.newsD_other{
	display: none;
}


/*---------------------------------------------------- 搜索 -----------------------------------------------------*/

.searchWrp{}
.searchWrp .subWrp{
  position: relative;
}

.search_key{
  line-height: .61rem;
  color: #843937;
  font-size: .28rem;
  position: absolute;
  right: .38rem;
}

.search_text{
  width: 100%;
  height: .61rem;
  line-height: .61rem;
  background: #dcd8cc;
  font-size: .3rem;
  color: #373737;
  text-indent: .1rem;
  margin: 0 0 .38rem 0;
}


.search_no{
  width: 100%;
  height: auto;
  font-size: .32rem;
  color: #843937;
  padding: .5rem 0;
}

.search_no dt{
  width: 3rem;
  height: 3rem;
  margin: .1rem auto;
}

.search_no dd{
  text-align: center;
}


/*---------------------------------------------------- 加入联盟 -----------------------------------------------------*/

.subJoin{}

.join_wrp{
  width: 100%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  box-shadow: 4px 1px 10px rgba(202,202,202,.24);
}

.join_wrp h1{
  width: 100%;
  height: .81rem;
  line-height: .81rem;
  background: #dcd8cc;
  color: #323232;
  font-size: .28rem;
  text-align: center;
}




/*---------------------------------------------------- 新闻列表等修改 -----------------------------------------------------*/
.subNews-item .img-cont{
  width: 2.6rem;
}

.subNews-item .text-cont{
  width: 4rem;
}

.subNews-item .img-cont img{
  width: 2.6rem;
  height: 1.5rem;
}

.subNews-item .text-cont h4{
  font-size: 0.28rem;
  line-height: 1.5;
}

.subNews-item .text-cont p{
  display: none;
}




.cy-type:hover .cy-type-main{
  height: 5.4rem;
}


.lmhd-swiper .img-cont img{
  width: 100%;
  height: 5rem;
}

.lmhd-base-title{
  background-size:3.6rem auto;
}


.jqxz-list .lmhd-base-item:first-of-type .img-cont img,.jqxz-list .lmhd-base-item:first-of-type,.lmhd-base-item,.lmhd-base-item .img-cont img{
  width: 100%;
  height: 4rem;
}

.jqxz-list,.jbcl-list,.ztzl-list{
  margin-right: 0;
}


.lmhd-base-item .text-cont{
  top: auto !important;
  bottom: 0;
  height: auto !important;
}

.lmhd-base-item .text-cont .item-time{
  display: none;
}

.lmhd-base-item .text-cont p{
  display: none;
}

.lmhd-base-item .item-lable{
  display: none;
}

.jqxz-list .lmhd-base-item:first-of-type .text-cont{
  bottom: 0;
}

.jbcl-list .lmhd-base-item .text-cont{
  padding-top: 18px;
}

}