@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 ,a{ 
  /*font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
  /*font-family: "Lantinghei SC",  "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif, \5b8b\4f53;*/
  font-family: Avenir, "Century Gothic", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.screen{position:absolute;left:0;top:0;width:100%;height:100%; opacity:0;visibility: hidden;overflow: hidden;}
.absolute{
  position: absolute;
}

body{
  background: #f9f1e5;
  font-size: 14px;
  color: #232323;
}


@-webkit-keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}

.main{
  position: relative;
  z-index: 1;
}

/*------------------------------------------------------------------------------------------------------------------*/


.headerWrp{
  width: 100%;
  height: 148px;
  background: #f6f6f6;
  box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.12);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;
}

.header{
  width: 100%;
  height: auto;
}

.header{
  width: 1200px;
  margin: 0 auto;  
  height: 100px;
  height: 90px;
}

.logo{
  margin: 16px 0 0 0\9;
}

.ht_right{
  float: right;
  margin: 32px 0 0 0\9;
}

.ht_right span{
  width: 248px;
  height: 34px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  position: relative;
}

.ht_right span input{
   border: none;
   width: calc(100% - 60px);
   height: 100%;
   background: transparent;
   padding: 0 10px;
   font-size: 14px;
}

.aSearch{
  width: 38px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #cbcbcb;
}

.icon_search{
  width: 30px;
  height: 30px;
  background: url(icon_search.png) no-repeat;
  background-size: 100% 100%;
}



.ht_right .aHtr{
  width: 34px;
  height: 34px;
  border: 1px solid #cbcbcb;
  border-radius: 5px; 
  margin-left: 13px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.ht_right .aHtr:hover{
  background: #8e3334;
  border: 1px solid #8e3334;
  color: #fff;
}


.icon_zhong{
  width: 30px;
  height: 30px;
  background: url(icon_zhong.png) no-repeat;
  background-size: 100% 100%;
}



/**/


.navWrp{
  width: 100%;
  height: 56px;
  padding-top: 15px;
  margin-bottom: 16px;
  border-bottom: 1px solid #8e3334;
  height: 46px;
  padding-top: 0;
  margin-bottom: 10px;
}

.h_nav{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.h_nav nav{
  width: auto;
}


.h_nav nav a.nav_a{
  font-size: 14px;
  color: #000;
  width: auto;
  min-width: 60px;
  height: 41px;
  line-height: 41px;  
  margin: 0 25px;
  text-align: center;
  position: relative;
  font-size: 16px;
  height: 46px;
  line-height: 46px;  
}

.h_nav nav a.nav_a:hover{
  color: #333;
}

.h_nav nav a.nav_a:after{
   content: '';
   display: block;
   width: 100%;
   height: 0;
   background: #8e3334;
   position: absolute;
   left: 0;
   bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.h_nav nav a.nav_a:hover:after{
  height: 5px;
}


.h_nav nav a.nav_a.nav_a_on:after{
   content: '';
   display: block;
   width: 100%;
   height: 5px;
   background: #8e3334;
   position: absolute;
   left: 0;
   bottom: 0;
}


.loginTop{
  width: auto;
  height: 34px;
}


.h_nav .aLogin{
  width: 106px;
  height: 34px;
  line-height: 34px;
  background: #8e3334;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  float: right\9;
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
}

.icon_login{
  width: 30px;
  height: 30px;
  background: url(icon_login.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 8px;
}

.h_nav .aLogin:hover{
  background: #782324;
}

.loginTop dd{
  width: 192px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 0 10px;
}

.loginTop dd:after{
  content: '';
  display: none;
  clear: both\9;
  display: block\9;
  overflow: hidden\9;
  visibility: hidden\9;
  width: 0px\9;
  height: 0px\9;
}

.loginTop dd a.aL_quit{
  color: #833937;
}

.loginTop dd a.aL_percen{
  width: 135px;
  height: 32px;
  background: url(icon_loginTop.png) no-repeat 0 6px;
  /*background-size: 100% 100%;*/
  /*text-indent: 33px;*/
  color: #565656;
  position: relative;
}

.loginTop dd a.aL_percen:hover{
  color: #833937;
}

.loginTop dd a.aL_percen label{
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  background: #8e3334;
  border-radius: 7px;
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.loginTop dd a.aL_percen span{
  width: 100%;
  height: 32px;
  padding: 0 0 0 33px;
  overflow: hidden;
  text-overflow: ellipsis;  
}



/**/

.footer{
  width: 100%;
  height: 110px;
  background: #efefef;
  position: relative;
  z-index: 9999;
}

.footer dl{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.footer dl dt{
  width: 320px;
  height: 45px;  
  margin: 0px auto 20px;
  line-height: 20px;
  padding: 25px 0 0 0;
  text-align: center;
}

.footer dl dt a{
  font-size: 16px;
  padding: 0 16px;
  color: #232323;
  border-right: 1px solid #232323;
}

.footer dl dt a:last-of-type{
  border-right: none;
}

.footer dl dt a:hover{
  color: #8e3334;
}


.footer dl dd{}

.footer dl dd span{
  padding: 0 14px;
}



/*------------------------------------------------------------- banner  ---------------------------------------------*/

.banner_section{
  height: 620px;
  margin: 148px 0 0 0;
}

.banner{
  width: 100%;
  height: 620px;
  background: url(banner.jpg) no-repeat center;
  position: fixed;
  left: 0;
  top: 148px;
}

.skrollable{
  will-change:transform;
}

.ban_con{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 562px 0 0 18px;
}


.ban_con a{
  display: block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

.ban_con a:hover{
  background: #8e3334;
}


.title{
  width: 380px;
  height: 70px;
  margin: 0 auto;
}

.title_news{
  background: url(title_news.png) no-repeat;
  background-size: 100% 100%;
}

.title_jj{
  background: url(title_jj.png) no-repeat;
  background-size: 100% 100%;
}

.title_cy{
  background: url(title_cy.png) no-repeat;
  background-size: 100% 100%;
}

.title_link{
  background: url(title_link.png) no-repeat;
  background-size: 100% 100%;
  margin: 70px auto 0;
}


.bg_area{
  width: 100%;
  height: auto;
  background: url(bg_area.jpg) repeat; 
}

.bg_area2{
  width: 100%;
  height: auto;
  background: #f7f1de; 
}



/*-------------------------------------------------  加入联盟表单  ----------------------------------------------------------------*/


.join_form{
  padding: 70px 0; 
}

.join_form ul{}

.join_form ul li{
    width: 100%;
    height: auto;
    /*clear: both;*/
    color: #373737;
    font-size: 16px;
    margin: 0 0 16px 0;
}

.join_form ul li:after{
  content: '';
  display: none;
  clear: both\9;
  display: block\9;
  overflow: hidden\9;
  visibility: hidden\9;
  width: 0px\9;
  height: 0px\9;
}


.join_form ul li dt{
  width: 207px;
  height: auto;
  line-height: 43px;
  text-align: right;
}

.join_form ul li dd{
  width: 500px;
}

.join_form ul li dd input{
  width: 498px;
  height: 43px;
  line-height: 43px;
  border: 1px solid #dcd8cc;
  padding: 0 10px;
  border-radius: 3px;
}

.join_form ul li dd textarea{
  width: 498px;
  height: auto;
  min-height: 110px;
  line-height: 2;
  border: 1px solid #dcd8cc;
  padding: 0 10px;
  resize: none;
  border-radius: 3px;
}

.join_form a.aSubJoin{
  display: block;
  width: 165px;
  height: 47px;
  background: #843937;
  line-height: 47px;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0 0 0 207px\9;
}

.join_form a.aSubJoin:hover{
  background: #762f2d;
  box-shadow: 2px 5px 10px rgba(132,57,55,0.27);
}



/* 动画 */

.skrollable{
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#join_code{
  width: 100px;
}

.join-code{
  height: 43px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.changeCode{
  font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

/*-------------------------------------------------  手机  ----------------------------------------------------------------*/

@media (max-width: 767px) {

  img{
    display: block;
    max-width: 100%;
  }

  html{
    width: 100%;
    height: auto;
  }


  body{
    background: #f6f6f6;
    font-size: .28rem;
    color: #232323;
  }
  

  /*--------------------------------------------------------- 头部和导航  ----------------------------------------------------*/
  
  .headerWrp{
    width: 100%;
    height: 1.1rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 800;
  }

  .headPos{
    /*background: rgba(0,0,0,0.5);*/
  }


  .header{
    width: 100%;
    height: 1.1rem;
    padding: 0 .2rem;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    position: relative;
    z-index: 9000;
    background: #f6f6f6;    
  }

  .logo{
    flex: 1;
    height: .7rem;
    border-right: 1px solid #e0e0e0;
  }
  
  .logo img{
    width: 3.3rem;
    margin: 0 .75rem 0 0;    
  }
  
  .mobNavPhone{
    width: 1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }

  
  .aNavPhone{
    /*display: flex;*/
    display: block;
    width: 1rem;
    height: 1.1rem;
    padding: .15rem .25rem;
    box-sizing: border-box;
    position: relative;
  }


  .aNavPhone .icon_bar{
    display: block;
    width: .5rem;
    height: .05rem;
    background: #888;
    position: absolute;
    left:.25rem;
    top: .35rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;

  }

  .aNavPhone .icon_bar:nth-of-type(1){
    width: .36rem;
    top: .35rem;
  }

  .aNavPhone .icon_bar:nth-of-type(2){
    top: .5rem;
  }

  .aNavPhone .icon_bar:nth-of-type(3){
    width: .3rem;
    top: .66rem;
  }


  .aNavPhone.aNavOn{
    background: #843937;
  }

  .aNavPhone.aNavOn .icon_bar{
    background: #fff;
  }

  .aNavPhone.aNavOn .icon_bar:nth-of-type(1){
    top: 0;
    width: 0;
  }

  .aNavPhone.aNavOn .icon_bar:nth-of-type(2){
    width: .36rem;
    top: .5rem;
    left: .3rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .aNavPhone.aNavOn .icon_bar:nth-of-type(3){
    width: .36rem;
    top: .5rem;
    left: .3rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }






  .mobSearch{
    width: 1rem;
    height: .7rem;
    border-left: 1px solid #e0e0e0;
    position: relative;
  }
  
  .mobSearch a{
    display: block;
    width: 1rem;
    height: 1.1rem;
    padding: .35rem .3rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -.2rem;
  }

  .mobSearch a i{
    display: block;
    width: .4rem;
    height: .4rem;
    background: url(m_icon_search.png) no-repeat;
    background-size: 100% 100%;
  }

  .mobSearch a.aMobsOn{
     background: #843937;
  }

  .mobSearch a.aMobsOn i{
    background: url(m_icon_searchOn.png) no-repeat;
    background-size: 100% 100%;
  }


  .mobRight{
    width: 1rem;
    height: .7rem;
    border-left: 1px solid #e0e0e0;
    padding: .15rem .3rem;
    box-sizing: border-box;
  }
  
  .mobRight a{
    display: block;
  }

  .mobRight a i{
    display: block;
    width: .4rem;
    height: .4rem;
    background: url(m_icon_en.png) no-repeat;
    background-size: 100% 100%;
  }




  /**/

  .slideNav{
      width: 100%;
      height: calc(100% - 1.1rem);
      background: #843937;
      position: fixed;
/*      left: -100%;
      top: 1.1rem;*/
      left: 0;
      top: -100%;
      z-index: 8000;
  }

  .slideNav dt{
      width: 2.7rem;
      height: auto;
      margin: .3rem auto;
  }

  .slideNav dt img{
      display: block;
      width: 100%;
  }


  .slideNav dd{
      border-top: 1px solid #96574e;
  }

  .slideNav dd a{
      display: block;
      height: 1.1rem;
      line-height: 1.1rem;
      border-bottom: 1px solid #96574e;
      /*text-align: center;*/
      color: #fff;
      font-size: .3rem;
      padding: 0 0 0 .68rem;
      opacity: 0;
  }

  .slideNav dd a:focus{
      background: #772e2c;
  }


  .slideNav dd a.slideNavOn{
      background: #843937;
  }


  .slideNav dd a.nav_aLogin{
    display: flex;
  }

  .slideNav dd a.nav_aLogin i{
    width: .3rem;
    height: .3rem;
    background: url(m_icon_login.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 .1rem 0 0;
  }

  .slideNav dd a.nav_aLogin.nav_aLoginA i{
    width: .3rem;
    height: .3rem;
    background: url(m_icon_user.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 .1rem 0 0;
  }


  .slide_ani_1{
    animation: fadeInLeft 0.8s ease-in-out 0.2s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.2s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
  }

  .slide_ani_2{
    animation: fadeInLeft 0.8s ease-in-out 0.3s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.3s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;    
  }

  .slide_ani_3{
    animation: fadeInLeft 0.8s ease-in-out 0.4s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.4s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;    
  }


  .slide_ani_4{
    animation: fadeInLeft 0.8s ease-in-out 0.5s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.5s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
  }

  .slide_ani_5{
    animation: fadeInLeft 0.8s ease-in-out 0.6s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.6s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;    
  }

  .slide_ani_6{
    animation: fadeInLeft 0.8s ease-in-out 0.7s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.7s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
  }

  .slide_ani_7{
    animation: fadeInLeft 0.8s ease-in-out 0.8s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.8s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
  }

  .slide_ani_8{
    animation: fadeInLeft 0.8s ease-in-out 0.9s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 0.9s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;    
  }

  .slide_ani_9{
    animation: fadeInLeft 0.8s ease-in-out 1s 1;
    -webkit-animation: fadeInLeft 0.8s ease-in-out 1s 1;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
  }


  .layerSearch{
    width: 100%;
    height: 2.35rem;
    background: #843937;
    position: fixed;
    left: 0;
    top: -1.3rem;
    z-index: 8000;
  }

  .lS_con{
    width: 100%;
    height: 2.35rem;    
  }

  .lS_con input{
    width: 4.93rem;
    height: .71rem;
    border: none;
    background: #96574e;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    color: #fff;
  }
  
  .lS_con input::-webkit-input-placeholder{
    color: #fff;
  }


  .lS_con a{
    width: 1.54rem;
    height: .71rem;
    line-height: .71rem;
    border: none;
    background: #e0cfa8;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 15px;
    color: #843937;
    text-align: center;
    margin: 0 0 0 .2rem;
    font-size: .3rem;
  }
  




  /*------------------------------------------------------------- footer  ---------------------------------------------*/

  .footer{
    width: 100%;
    height: auto;
  }

  .footer dl{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 .1rem .3rem;
    box-sizing: border-box;
  }

  .footer dl dt{
    width: 6rem;
    height: .8rem;
    margin: 0 auto .2rem;
    line-height: .4rem;
    padding: .4rem 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;    
    -webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;
    -webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;
  }

  .footer dl dt a{
    font-size: .3rem;
    padding: 0 .16rem;
    color: #232323;
    border-right: 1px solid #232323;
  }

  .footer dl dt a:last-of-type{
    border-right: none;
  }

  .footer dl dt a:hover{
    color: #232323;
  }


  .footer dl dd{
    /*display: block;*/
    width: 100%;
    height: auto;
    margin: 0 auto
  }

  .footer dl dd span{
    display: block;
    padding: .03rem .16rem;
  }


  /*------------------------------------------------------------- banner  ---------------------------------------------*/


  .banner_section{
    height: 5.22rem;
    margin: 1.1rem 0 0 0;
  }


  .banner{
    width: 100%;
    height: 5.22rem;
    background: url(m_banner.jpg) no-repeat center;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    top: 1.1rem;
  }
  
  .skrollable{
    will-change:auto;
  }

  .ban_con{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0 0 .18rem;
  }

  .ban_con a{
    display: block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #333;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
  }

  .ban_con a:hover{
    background: #fff;
  }

  .title{
    width: 4.8rem;
    height: .88rem;
    margin: 0 auto;
  }

  .title_link{
    margin: 0 auto;
  }


/*-------------------------------------------------  加入联盟表单  ----------------------------------------------------------------*/

.join_form{
  width: 100%;
  height: auto;  
  padding: .1rem .3rem;
}

.join_form ul{
}

.join_form ul li{
    display: block;
    width: 100%;
    height: auto;
    color: #373737;
    font-size: .32rem;
    margin: 0 0 .16rem 0;
}

.join_form ul li dt{
  width: 100%;
  height: auto;
  line-height: 43px;
  text-align: left;
}

.join_form ul li dd{
  width: 100%;
}

.join_form ul li dd input{
  width: 100%;
  height: .72rem;
  line-height: .72rem;
  border: 1px solid #dcd8cc;
  padding: 0 .1rem;
  border-radius: .05rem;
}

.join_form ul li dd textarea{
  width: 100%;
  height: auto;
  min-height: 2rem;
  line-height: 2;
  border: 1px solid #dcd8cc;
  padding: 0 .1rem;
  resize: none;
  border-radius: .05rem;
}

.join_form a.aSubJoin{
  display: block;
  width: 100%;
  height: .72rem;
  background: #843937;
  line-height: .72rem;
  border-radius: .05rem;
  font-size: .32rem;
  color: #fff;
  text-align: center;
}

.join_form a.aSubJoin:hover{
  background: #843937;
  box-shadow: none;
}

.join-code{
  height: 0.72rem;
}


}